<ul class="ingredients-editor">
    {{#each ingredients as |i|}}
        {{ingredients-editor-row ingredient=i}}
    {{/each}}
    <li class="row">
        <div class="columns text-right">
            <a {{action "add"}}>+</a>
        </div>
    </li>
</ul>
