<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>{{#link-to 'index'}}
                Recipes
            {{/link-to}}</li>
            <li>{{#link-to 'ingredients'}}
                Ingredients
            {{/link-to}}</li>
        </ul>
    </div>
    <div class="top-bar-right">
        {{#link-to 'recipe.new'}}
            New
        {{/link-to}}
    </div>
</div>
