<form>
    <div class="row">
        <div class="columns large-9">
            <label>
                Title
                {{input type="text" value=model.title}}
            </label>
            <label>
                Description
                {{textarea type="text" value=model.description}}
            </label>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="columns large-7">
            <label>Ingredients</label>
            {{ingredients-editor ingredients=model.ingredients}}
        </div>
        <div class="columns large-5">
            <label>Photos</label>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="columns">
            <label>Steps</label>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="columns text-right">
            <button {{action "createRecipe" model}}>
                Create Recipe
            </button>
        </div>
    </div>
</form>